/**
 * Author: Smriti Mishra
 * Feature: UserDashboard
 */
.main-container {
  display: flex;
  height: 97vh;
  background: linear-gradient(
    to bottom right,
    white 0%,
    rgb(241, 243, 243) 80%
  );

  @media screen and (min-width: 320px) and (max-width: 1080px) {
    flex-direction: column;
  }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .dashbord-container {
    width: 90% !important;
    height: 90% !important;
  }
}

.dashbord-info h5 {
  font-size: 1rem;
}

.dashbord-container {
  padding-left: 3rem;
  width: 80%;
  /* background: linear-gradient(to bottom right, white 0%, #e6e4ff 70%); */
  background: linear-gradient(to bottom right, white 0%, #afdad6 100%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 1rem;
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0 0;
  }
}

.dashbord-subcontainer {
  margin: 0.5rem 0;
  height: 80%;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    height: 100%;
  }
}

.dashbord-sectionone {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  margin-top: 35px;

  @media screen and (min-width: 320px) and (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
    height: max-content;
  }
}

.dashbord-columnone {
  display: flex;
  flex-direction: column;
  height: 115%;
  width: 95%;

  @media screen and (min-width: 320px) and (max-width: 1080px) {
    height: max-content;
    justify-content: center;
    align-items: center;
  }
}

.dashbord-titletext {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  padding-top: 15px;
}

.dashbord-content {
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;

  transition: 0.4s ease-in-out;

  @media screen and (min-width: 320px) and (max-width: 1080px) {
    height: max-content;
    width: 75%;
    margin-top: 1rem;
  }
}

.dashbord-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.dashbord-info:hover {
  box-shadow: rgba(4, 14, 39, 0.5) 0px 22px 70px 4px;
  border-radius: 1rem;
}

.dashbord-photoimg {
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
}

.dashbord-title {
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    font-size: 1rem;
  }
}

.dashbord-all {
  text-align: end;
  color: "#6100d4";
  cursor: pointer;
}

.row {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
